/* Reset de estilos para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}

.busca {
    margin-top: 10px;
}

.busca input {
    padding: 8px;
}

.busca button {
    padding: 8px;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

main {
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    background-color: #333;
    color: #ecf0f1;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

footer {
    background-color: #333;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}