body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.pesquisa input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botao-pesquisa {
    background-color: #f00;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.botao-pesquisa:hover {
    background-color: #a00;
}


.Produto {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Produto img {
    max-width: 100%;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.descricao {
    font-size: 1rem;
    margin: 10px 0;
}

.preco {
    font-weight: bold;
    color: #f00;
}

.adicionar-ao-carrinho {
    background-color: #f00;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.adicionar-ao-carrinho:hover {
    background-color: #a00;
}